@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #22154c;
    --primary-75: #564974;
    --primary-50: #8c81a2;
    --primary-25: #c4becf;

    --secondary: #b07882;

    --text: #111111;
    --contrast: #ffffff;

    --background: #ffffff;
    --background-secondary: #ede8e8;

    --success: #767b0e;
    --success-50: #93b262;

    --warning: #820d30;
    --warning-50: #e56682;

    --highlight: #cfb0b5;

    --accent: #ad8000;
    --accent-50: #e8b066;

    --font-face: Open Sans;
  }

  body {
    @apply bg-background text-text;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
