@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .fancy-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  .fancy-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 999px;
  }

  .fancy-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .fancy-scrollbar {
    -ms-overflow-style: none;
  }
}
